body {
  width: 1250px;
  height: auto;
  margin: 0 auto;
}

/* navbar begin */
nav {
  margin-top: 30px;
  display: flex;
}

.thebox {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #2947A9;
  margin-left: 10px;
  margin-top: 30px;
}

a {
  text-decoration: none;
}

.hone {
  position: absolute;
  width: 556px;
  height: 168px;
  left: calc(50% - 556px/2 - 330px);
  top: 209px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
  color: #292E3D;
}

.navlink {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #14171F;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 35px;
}

/* navbar finish */
section {
  background-image: url(../images/bino.jpg);
  background-repeat: no-repeat;
  display: flex;
  width: 1250px;
  background-size: 100%;
  position: absolute;
  height: 646px;
  top: 90px;
}

.navcontact {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #F9995D;
  flex: none;
  order: 4;
  flex-grow: 0;
  margin-left: 50px;
}

.imglogo {
  margin-top: 10px;
  margin-left: 50px;
}

.linklar {
  margin-left: 430px;
}

.national {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.sign {
  width: 349px;
  height: 33px;
  display: flex;
  background-color: #292E3D;

}

.texth2 {
  margin-top: 700px;
  height: 42px;
  left: 584px;
  right: 585px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #292E3D;

}

.sign1 {
  margin-left: 54px;
  margin-top: 5px;
}


.back {
  width: 43px;
  height: 21px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  margin-left: 30px;
  margin-top: 3px;
}

.feature {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sectionbuton {
  margin-left: 900px;
  margin-top: 425px;
  border: 2px solid;
  width: 350px;
  height: 173px;
  background-color: #3253BB;
  border: none;
}

.sign2 {
  margin-left: 20px;
  margin-top: 5px;
}

.next {
  margin-left: 52px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  margin-top: 3px;
}

.cards {
  display: flex;
  gap: 130px;
  margin-left: 100px;
  margin-top: 50px;
}

.odamyoni {
  background-color: #26439E;
  width: 600px;
  height: 500px;
  margin-top: 50px;
  position: absolute;
  width: 488px;
  height: 523px;
  left: calc(50% - 488px/2 + 364px);
  top: 1180px;

}

.man {
  display: flex;
  margin-top: 60px;
}

.texth4us {
  margin-left: 20px;
  width: 159px;
  height: 42px;

  top: 50px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

.textpfor {
  margin-left: 20px;
  left: 40px;
  top: 20px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.textpfor1 {

  margin-left: 20px;
  top: 50px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.butonmore {
  margin-top: 70px;
  width: 229px;
  height: 51px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #2947A9;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 60px;
}

.cardss {
  border: 2px solid #E0E3EB;
  width: 280px;
  height: 190px;
}

.imgquloqchin {
  margin-left: 20px;
}

.textp {
  width: 254px;
  height: 38px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #858EAD;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-left: 20px;
}

.card1 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #3D445C;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 15px;
}

.card2 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #3D445C;
  margin-left: 15px;
}

.card3 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #3D445C;
  margin-left: 15px;
}

.services {
  height: 42px;
  left: 644px;
  right: 645px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #292E3D;
  margin-top: 50px;
}

.icon2 {
  background-color: white;
  width: 180px;
  height: 150px;
  text-align: center;

}

.icon3 {
  background-color: #2947A9;
  text-align: center;
  width: 180px;
  height: 150px;
  margin-bottom: 70px;
}

.texticon3p {
  width: 128px;
  height: 23px;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-left: 30px;
  /* Primary */

  color: #2947A9;


  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.card84 {
  box-sizing: border-box;
  margin-top: 50px;
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  gap: 2px;

  position: absolute;
  width: 280px;
  height: 155px;
  left: calc(50% - 280px/2 - 68px);


  /* Neutral/White */

  background: #FFFFFF;
  /* Neutral/White */

  border: 1px solid #FFFFFF;
  /* Shadow 2 */

  box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
  border-radius: 4px;
}

.img84 {
  position: absolute;
  width: 97px;
  height: 97px;
  left: calc(50% - 97px/2 + 51.5px);
  top: -63px;
  left: 150px;
  background: url(image.png);
}

.text84 {


  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
  display: flex;
  align-items: flex-end;

  /* Neutral/800 */

  color: #292E3D;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.text84p {
  width: 238px;
  height: 28px;
  position: absolute;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-top: 50px;
  color: #667299;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.imgiconhouse {
  margin-top: 40px;
}

.texticon2p {
  margin-left: 30px;
  width: 110px;
  height: 23px;
  text-align: center;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.icon1 {
  display: flex;
  gap: 50px;
  margin-left: 260px;
  margin-top: 40px;

}

.icons {
  background-color: #DFE1E0;
  margin-bottom: 50px;
}

.img123 {

  width: 79px;
  height: 79px;
  left: calc(50% - 79px/2 - 501.5px);
  top: 2680px;

  background: url(image.png);
}

.text123 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
  display: flex;
  align-items: flex-end;
  text-align: center;

  /* Neutral/800 */

  color: #292E3D;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.text123p {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-top: 20px;
  color: #667299;
}

.card123 {
  text-align: center;
  margin-top: 90px;
  margin-left: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  gap: 2px;
  position: absolute;
  width: 321px;
  height: 255px;
  left: calc(50% - 361px/2 - 327.5px);
  top: 2621px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
  border-radius: 4px;
}

.text37 {
  width: 115px;
  height: 65px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
  display: flex;
  align-items: flex-end;
  color: #292E3D;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text37p {
  width: 238px;
  height: 28px;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #667299;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card37 {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  gap: 2px;

  position: absolute;
  width: 276px;
  height: 155px;
  left: calc(50% - 276px/2 - 124px);
  top: 2964px;

  background: #FFFFFF;
  /* Neutral/White */

  border: 1px solid #FFFFFF;
  /* Shadow 2 */

  box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
  border-radius: 4px;
}

.card30 {
  box-sizing: border-box;
  padding: 30px;
  gap: 2px;
  position: absolute;
  width: 333px;
  height: 155px;
  left: calc(50% - 333px/2 - 292.5px);
  top: 3169px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
  border-radius: 4px;
}

.text30 {
  width: 115px;
  height: 65px;

  /* Heading/1 */

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
  display: flex;
  align-items: flex-end;

  /* Neutral/800 */

  color: #292E3D;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.text30p {
  width: 238px;
  height: 28px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #667299;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tikka {
  width: 7px;
  height: 28px;
  background: #F9995D;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.free {
  background-image: url(../images/oshxona.png);
  width: 1250px;
  height: 500px;
  margin-top: 1080px;
  display: flex;
  background-repeat: no-repeat;
  background-size: 1250px;
}

.freebuton {
  width: 222px;
  height: 41px;
  /* position: absolute; */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 100px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 2px solid;
  margin-left: 40px;
  margin-top: 140px;
}

.all {
  width: 32px;
  height: 28px;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  /* Primary */

  color: #2947A9;

}

.chiziq {
  width: 4px;
  height: 28px;
  background: #2947A9;
}

.project {
  width: 148px;
  height: 42px;
  left: 112px;
  top: 88px;

  /* Heading/4 */

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  /* Neutral/800 */

  color: #292E3D;
}

.freediv {
  margin-top: 40px;
  margin-left: 30px;
}

.textfree2 {
  /* position: absolute; */
  /* width: 396px; */
  /* height: 28px; */
  left: 142px;
  top: 3px;

  /* Body/large */

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: #FFFFFF;
}

.content {
  width: 142px;
  height: 28px;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  /* Neutral/200 */

  color: #C2C7D6;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.textfree1 {
  /* position: absolute; */
  width: 754px;
  height: 42px;
  left: 112px;
  top: 10px;

  /* Heading/4 */

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
}

.asus1 {
  display: flex;
}

.asus2 {
  display: flex;
}

.asus3 {
  margin-left: 120px;
}

.texth6 {
  width: 1250px;
  height: 42px;
  left: calc(50% - 432px/2);
  top: 60px;

  /* Heading/4 */
  margin-left: 35%;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  /* Neutral/800 */

  color: #292E3D;
}

.we {
  width: 1250px;
  height: 46px;
  left: calc(50% - 539px/2 + 0.5px);
  top: 122px;

  /* Body/medium */

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-top: 50px;
  margin-left: 4%;
  /* Neutral/800 */

  color: #292E3D;
}

.namename {
  display: flex;
  margin-left: 90px;

}

.namename1 {
  display: flex;
  margin-left: 90px;
  margin-top: 50px;

}

textarea {
  width: 500px;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin-top: 30px;
  margin-left: 400px;
}

.field {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  margin-left: 400px;

  color: #7883A4;
}

.youname {
  align-items: center;
  gap: 10px;
  margin-left: 30%;
  height: 21px;
  background: #FFFFFF;
  border-radius: 4px;
}

ul {
  text-decoration: none;
}

.submit {
  margin-left: 48%;
  margin-top: 40px;


}

.imput1 {
  width: 80px;
  height: 20px;
  border-radius: 5px;
  background-color: #2947A9;
}

.lname {
  margin-left: 60px;
}

.email {
  background-color: #F6F8F7;
  width: 1250px;
  height: 400px;
}

.com {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 40px;
  /* position: absolute; */
  height: 23px;
  /* left: 885px; */
  right: 584px;
  /* top: 518px; */
  width: 200px;
  /* Primary */
  margin-left: 520px;
  background: #2947A9;
  border-radius: 2px;
}

.address {
  width: 91px;
  height: 23px;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  font-variant: small-caps;

  /* Primary */

  color: #2947A9;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.elgin {
  width: 365px;
  height: 23px;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;

  /* Neutral/800 */

  color: #292E3D;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.nice {
  width: 365px;
  height: 23px;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;

  /* Neutral/800 */

  color: #292E3D;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.phone {
  width: 70px;
  height: 23px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  font-variant: small-caps;
  color: #2947A9;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.phone1 {
  width: 136px;
  height: 23px;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;

  /* Neutral/800 */

  color: #292E3D;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.number {
  margin-top: 20px;
  display: flex;
}

.newletter {
  width: 130px;
  height: 23px;
  right: 406px;
  top: 85px;
  margin-bottom: 40px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  font-variant: small-caps;
  margin-left: 125px;
  /* Primary */

  color: #2947A9;
}

.theend {
  display: flex;
}

.infinity1 {
  display: flex;
}

.social {
  margin-left: 140px;
  margin-top: 30px;
  width: 73px;
  height: 23px;
  right: 463px;
  top: 211px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  font-variant: small-caps;
  color: #2947A9;
}

.infinity2 {
  width: 250px;
  height: 40px;
  margin-left: 30px;
  background: #F9995D;
  border-radius: 4px;
}

.infinity3 {


  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  /* line-height: 21px; */
  text-align: center;
  margin-bottom: 130px;
  /* Neutral/White */

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.vector {
  margin-left: 150px;
  gap: 20px;
  margin-top: 20px;
}

.margin {
  margin-left: 20px;
  margin-right: 20px
}

.infinity {
  margin-top: 10px;
  margin-left: 180px;
}

.tugadi {
  height: 80px;
  width: 100%;
  /* text-align: center; */
  background-color: #25419A;
}

.tugaditext {
  width: 356px;
  left: 112px;
  top: 46px;
  bottom: 25px;

  /* Caption */
  margin-top: 80px;
  margin-left: 60px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  color: #FFFFFF;
}